body {
  background: #eee;
  font-family: sans-serif;

}

.card {
  box-sizing: border-box;
  background: #ffffff;
  padding: 8px;
  margin: 16px;
  width: 400px;
}

.title {
  margin-top: 0px;
  background: #e3f4ff;
  padding: 8px;
  font-size: 16px;
}

.content {
  
  background: #e3f4ff;
  padding: 16px 8px 16px 8px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin-top: 8px;
  padding: 8px;
}

button {
  display: block;
  padding: 8px 24px 8px 24px;
  background: white;
  border: 1px solid #eee;
  margin-left: auto;
  margin-right: auto;
}